
const firebaseConfig = {
  apiKey: "AIzaSyBOsoaNWZpcZMf0b4ZSWzuxyJEH_U2-XJg",
  authDomain: "student-leave-management-25b72.firebaseapp.com",
  projectId: "student-leave-management-25b72",
  storageBucket: "student-leave-management-25b72.firebasestorage.app",
  messagingSenderId: "881275528872",
  appId: "1:881275528872:web:680b041fb6b839d814c49d",
  measurementId: "G-Q0KY0QKXEY"
};

